@model LogTracker.Models.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CredatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CredatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CredatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CredatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
